/*
use css only if bootstrap does not provide a solution
bootstrap cannot be included in css stylesheets
css classes cannot be included in other css classes
use css variables for a more modular approach
*/

:root {
  --max-width: 18rem;
}

.css-div-title {
  max-width: var(--max-width);
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.css-div-text {
  max-width: var(--max-width);
  margin-bottom: 1.5rem;
}

.css-div-input {
  max-width: var(--max-width);
  margin-bottom: 1.5rem;
}

.css-div-output {
  max-width: var(--max-width);
  margin-bottom: 1rem;
}

.css-div-dwg {
  max-width: var(--max-width);
  margin-bottom: 1rem;
}
