/*
use css only if bootstrap does not provide a solution
bootstrap cannot be included in css stylesheets
css classes cannot be included in other css classes
use css variables for a more modular approach
*/

:root {
  --max-width: 18rem;
}

.css-div-title {
  max-width: var(--max-width);
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.css-div-text {
  max-width: var(--max-width);
  margin-bottom: 1.5rem;
}

.css-div-input {
  max-width: var(--max-width);
  margin-bottom: 1.5rem;
}

.css-div-output {
  max-width: var(--max-width);
  margin-bottom: 1rem;
}

.css-div-dwg {
  max-width: var(--max-width);
  margin-bottom: 1rem;
}

#arches-input {width: 5rem}
#arches-output {width: 6rem}

#joints-input {width: 5rem}
#joints-output {width: 6rem}

#piers-input {width: 5rem}
#piers-output {width: 6rem}

#roof-input {width: 5rem}
#roof-output {width: 6rem}

#squaring-input {width: 5rem}
#squaring-output {width: 6rem}
